<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <connectionStrings>
        <add name="dbConnection" connectionString="Data Source=MSIGS75-WINDOWS\SQLEXPRESS;Initial Catalog=BotanicalGarden;Integrated Security=True;"/>
    </connectionStrings>
    
    <!-- <appSettings> -->
    <!-- <add key="ParentTableName" value="Sectors"/> -->
    <!-- <add key="ParentPrimaryKey" value="sector_id"/> -->
    
    <!-- <add key="ParentSelect" value="select * from Sectors"/> -->
    
    <!-- <add key="ChildTableName" value="Greenhouses"/> -->
    <!-- <add key="ChildPrimaryKey" value="greenhouse_id"/> -->
    <!-- <add key="ChildRestColumnNames" value="nickname,free_spaces,is_full,sector_id"/> -->
    <!-- <add key="ChildAllColumnNames" value="greenhouse_id,nickname,free_spaces,is_full,sector_id"/> -->
    
    <!-- <add key="ChildSelect" value="select * from Greenhouses where sector_id = @sector_id"/> -->
    <!-- <add key="ChildInsert" value="insert into Greenhouses(nickname, free_spaces, is_full, sector_id) values(@nickname, @free_spaces, @is_full, @sector_id)"/> -->
    <!-- <add key="ChildDelete" value="delete from Greenhouses where greenhouse_id = @greenhouse_id"/> -->
    <!-- <add key="ChildUpdate" value="update Greenhouses set nickname = @nickname, free_spaces = @free_spaces, is_full = @is_full, sector_id = @sector_id where greenhouse_id = @greenhouse_id"/> -->
    <!-- </appSettings> -->

    <appSettings>
        <add key="ParentTableName" value="Origins"/>
        <add key="ParentPrimaryKey" value="origin_id"/>

        <add key="ParentSelect" value="select * from Origins"/>

        <add key="ChildTableName" value="Small_Plants"/>
        <add key="ChildPrimaryKey" value="small_plant_id"/>
        <add key="ChildRestColumnNames" value="popular_name,scientific_name,family,height,ground_surface,greenhouse_id,origin_id"/>
        <add key="ChildAllColumnNames" value="small_plant_id,popular_name,scientific_name,family,height,ground_surface,greenhouse_id,origin_id"/>

        <add key="ChildSelect" value="select * from Small_Plants where origin_id = @origin_id"/>
        <add key="ChildInsert" value="insert into Small_Plants(popular_name, scientific_name, family, height, ground_surface, greenhouse_id, origin_id) values(@popular_name, @scientific_name, @family, @height, @ground_surface, @greenhouse_id, @origin_id)"/>
        <add key="ChildDelete" value="delete from Small_Plants where small_plant_id = @small_plant_id"/>
        <add key="ChildUpdate" value="update Small_Plants set popular_name = @popular_name , scientific_name = @scientific_name , family = @family, height = @height, ground_surface = @ground_surface, greenhouse_id = @greenhouse_id, origin_id = @origin_id where small_plant_id = @small_plant_id"/>
    </appSettings>
</configuration>